numpy==1.26.4
statsmodels
pandas
matplotlib
seaborn
notebook
openpyxl
yfinance
requests
requests_cache
scikit-learn
lightgbm
torch
tensorflow
neuralprophet
plotly
tqdm
keras-tuner

